<script setup>
import { defineProps, defineEmits} from "vue";



const props = defineProps(['title']);

const emits = defineEmits(["close", "submit", 'updatePerson']);


const close = () => {
  emits("close");
};



</script>

<template>
  <div class="overlay">
    <div class="popup">
      <button class="close-btn" @click="close" >×</button>
      <div class="content">
        <h2>{{title}}</h2>
          <slot/>
      </div>
    </div>
  </div>




</template>



<style scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.content {
  text-align: center;
}

.form-control {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.btn-success {
  background-color: forestgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-success:hover {
  background-color: darkgreen;
}


</style>