<script setup>
import {defineProps, computed, defineEmits, ref} from 'vue';
import DialogPopup from "@/components/DialogPopup.vue";
import PersonForm from "@/components/PersonForm.vue";

const props = defineProps(["person", "index", 'person.firstName']);
const emits = defineEmits(['editPerson', 'deleteEntry', 'updatePerson']);

const showDialog = ref(false);

const age = computed(() => {
  let birthYear = props.person.birthYear;
  const today = new Date().getFullYear();
  return today - birthYear;
});


const editPerson = () => {
  emits('editPerson', props.person)
  showDialog.value = true;
};

const deleteEntryHandler = () => {
  emits('deleteEntry', props.index);
};

const handleDialogClose = () => {
  showDialog.value = false;
}

const handleDialogSubmit = (form) => {
  emits('updatePerson', {index: props.index, person: form});
  showDialog.value = false;
};

</script>
<template>
  <tr>
    <td>{{ person.firstName }}</td>
    <td>{{ person.lastName }}</td>
    <td>{{ age }}</td>
    <td>
      <button id="edit" @click="editPerson">Bearbeiten</button>
      <button id="delete" @click="deleteEntryHandler">Löschen</button>
    </td>
  </tr>
  <DialogPopup v-if="showDialog" :person="person"
               @close="handleDialogClose"
               :title="person.firstName">
                <person-form @submitPerson="handleDialogSubmit"  @close="handleDialogClose"
                :firstName="person.firstName"
                :lastName="person.lastName"
                :birthYear="person.birthYear"/>
  </DialogPopup>

</template>

<style scoped>
#edit {
  background-color: forestgreen;
}

#delete {
  background-color: red;
}
</style>
