<script setup>
import { ref, defineProps } from "vue";

const emits = defineEmits(["submitPerson"]);
const props = defineProps({firstName: String, lastName: String, birthYear: Number})

const eingabe1 = ref(props.firstName);
const eingabe2 = ref(props.lastName);
const eingabe3 = ref(props.birthYear);

function emitSubmitPerson() {
  emits("submitPerson", {
    firstName: eingabe1.value,
    lastName: eingabe2.value,
    birthYear: eingabe3.value
  });
  eingabe1.value = '';
  eingabe2.value = '';
  eingabe3.value = '';
}

</script>

<template>
  <form id="form" @submit.prevent="emitSubmitPerson">
    <div>
      <label for="firstName" class="form-label">Vorname</label>
      <input v-model="eingabe1" type="text" class="form-control" id="input1">
    </div>
    <div>
      <label for="lastName" class="form-label">Nachname</label>
      <input v-model="eingabe2" type="text" class="form-control" id="input2">
    </div>
    <div class="mb-3">
      <label for="birthYear" class="form-label">Geburtsjahr</label>
      <input v-model.number="eingabe3" type="number" class="form-control" id="eingabe3">
    </div>
    <button type="submit" class="btn btn-success">Ok</button>
  </form>

</template>



<style scoped>

</style>