<script setup>
import PersonEntry from "@/components/PersonEntry.vue"
import {defineProps, defineEmits} from 'vue'
const props = defineProps(["persons"]);
const emits = defineEmits(['updatePerson', 'deleteEntry'])

const deleteEntryHandler = (index) => {
  emits('deleteEntry', index)
};

const updatePerson = (event) => {
  emits('updatePerson', event)
}

</script>

<template>
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Alter</th>
    <th>Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <person-entry v-for="(person, index) in props.persons" :person="person" :key="index" :index="index" @deleteEntry="deleteEntryHandler" @updatePerson="updatePerson"/>

  </tbody>
</template>



<style scoped>

</style>