<script setup>
import PersonForm from "@/components/PersonForm.vue";
import {ref} from "vue";
import PersonTable from "@/components/PersonTable.vue";

const persons = ref([]);
const deleteLastEntry = () => persons.value.pop();
const deleteAllEntries = () => persons.value = [];

const submitPerson = (person) => {
  persons.value.push(person);
};

const updatePerson = ({index, person}) => {
  persons.value[index] = person;
}


const deleteEntryHandler = (index) => {
  persons.value.splice(index, 1);
}



</script>

<template>
  <h1>Personen anlegen</h1>
  <div class="row" style="width: 1000px">
    <div class="col-3" style="background-color: lightgrey">
    <person-form @submitPerson="submitPerson" />
      <br>
      <br>
    </div>
    <div>
    <h3>Aktionen</h3>
    <button @click="deleteLastEntry" type="button" class="btn btn-danger" style="width: 160px; font-size: 12px">Letztes Element Löschen</button>
    <button @click="deleteAllEntries" type="button" class="btn btn-danger" style="width: 100px; font-size: 12px">Alles löschen</button>
    </div>
    <div class="col-md-4">
      <table class="table">
        <person-table :persons="persons" @updatePerson="updatePerson" @deleteEntry="deleteEntryHandler"/>
      </table>
    </div>
  </div>
</template>

<style scoped>

</style>
